<DOCTYPE html>
<html>
  <head>
    <title>All data labeled, thank you!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="http://samplelabeler.davidluthermusic.com/labeler.css">

    <!-- put css here if no link above:
    <style type="text/css">
    </style>
    -->

  </head>

  <body>
    <div id="main">
    <section>
      <h1>Audio Sample Labeler</h1>
      <hr />
    </section>

    <section>
      <h2>Thank You!</h2>
      <p>Due to the efforts of generous people like yourself, all of the data has already been labeled, so there's nothing left to be done... for now. Much appreciated!</p>
    </section>
    
    </div>
  </body>
</html>
